:root {
  --zero: rgba(0,0,0);
  --one: rgba(89,60,226);
  --two: rgba(133,61,226);
  --three: rgba(178,61,227);
  --four: rgba(222,62,227);
}

html, body {
  margin: 0;
  background-color: var(--zero);
  color: var(--four);
}

.App {
  padding: 16px;
  min-height: 100vh;
}

blockquote {
  color: var(--one);
}


